<div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <table class="table table-bordered table-dark">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Foundation</th>
                <th scope="col">Stadium</th>
                <th scope="col">Country</th>
                <th scope="col">Actions</th>

              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let t of teams'>
                <td>{{t.id}}</td>
                <td>{{t.name}}</td>
                <td>{{t.foundation}}</td>
                <td>{{t.stadium}}</td>
                <td>{{t.country}}</td>
                <td><button type="button" class="btn btn-success" (click)='goToTeam(t.id)' >Display</button>&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-primary">Edit</button>&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-danger">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
       
      </div>
    </div>
  </div>


